<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href-"/static/css/bootstrap.css" rel="stylesheet" media="screen">
        {% if title %}
        <title>{{ title }} - MyLink</title>
        {% else %}
        <title>MyLink</title>
        {% endif %}
    </head>
    <body>
        <div>MyLink:
            <a href="{{ url_for('intro') }}">Home</a>
            {% if g.user.is_authenticated() %}
            | <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>