{% extends "base.html" %}
{% block content %}

<div class="container marketing" align="center">

	<h1><b>Circle Page for {{writer.firstname}}</b></h1>
	<br>

	<form actoin="" method="post" name="wall" enctype="multipart/form-data" style="padding-top:5px">
		{{form.hidden_tag()}}
       	{{form.csrf_token}}
       	<div style = "background:white;width:440px;border:1px dotted grey">
			<div style="display:inline-block;width:430px;padding-bottom:10px; padding-top:10px">
				{{ form.name(placeholder="Please enter Circle name", style="display:inline-block;width: 355px; height: 30px;")}}
				<input style="" type="submit" class="btn btn-large btn-success" value="Make">
			</div>
		</div>		
	</form>
	
	<hr>

	{% for circle in circles %}
		<div style="padding-top:5px">
	       	<div style = "background:white;width:440px;border:1px dotted grey">
				<div style="display:inline-block;width:430px;padding-bottom:10px; padding-top:10px">
					<div align="left" style="display:inline-block;width: 250px; height: 30px;padding-left:10px">
						<b>Circle: {{circle.name}}</b><br>
					</div>
					<a class="btn btn-large btn-success"  href="{{url_for('circleUsers', cid=circle.cid)}}">Add Users</a>
					<a class="btn btn-large btn-success"  href="{{url_for('delete_circle', cid=circle.cid)}}">Delete</a>
				</div>
			</div>		
		</form>
	{% endfor %}

</div>

{% endblock %}
