{% extends "base.html" %}
{% block content %}
	
	<div align="center" class="container marketing" style="padding-bottom:80px">
		<h1>Add Users to Circle of [{{ circle.name }}]</h1>
	</div>

	<div class="container marketing">

		<div class="row">
			{% for user in users %}
				<div class="col-lg-4">
					<div align="middle">
						<img class="img-circle" src="{{url_for('static', filename = user.User.pic)}}" alt="Generic placeholder image" width="140" height="140">
					</div>
					<h2>{{user.User.firstname}} {{user.User.lastname}}</h2>
					<h4>{{user.User.email}}</h4>
					{% for ic in inCircle %}
						{% if user.User.uid == ic.Friend.fid %}
							<p><a class="btn btn-default" href="{{url_for('deleteCircleItem',cid=cid, uid=user.User.uid)}}" role="button" style="color:green">Delete</a></p>
						{% endif %}
					{% endfor %}

					{% for oc in outCircle %}
						{% if user.User.uid == oc.Friend.fid %}
							<p><a class="btn btn-default" href="{{ url_for('addCircleItem', cid=cid, uid=user.User.uid)}}" role="button" style="color:Red">Add</a></p>
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
		<div class="row">
	</div>
{% endblock %}