{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="well" style="text-align:center">
    <h3>Log In</h3>
    <form class="form" action="" method="post" name="login">
        {{form.hidden_tag()}}

        <div class="control-group{% if form.errors.email %} error{% endif %}">
            <div class="controls">
                {{form.email(style="width:180px;text-align:center", placeholder="Email:") }}
                {% for error in form.errors.email %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

        <div class="control-group{% if form.errors.password %} error{% endif %}">
            <div class="controls">
                {{form.password(style="width:180px;text-align:center", placeholder="Password:")}}
                {% for error in form.errors.password %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox inline" for="remember_me">
                    {{form.remember_me}} Remember Me
                </label>                
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label>
                    <a href="{{url_for('register')}}">Register</a>
                </label>
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Login">
            
    </form>
</div>
{% endblock %}
