{% extends "base.html" %}
{% block content %}

<body>
	<div class ="container">		
		<form class="form-signin" action="" method="post" name="register">
			{{form.hidden_tag()}}
			<h2 class="form-signin-heading">Register Form</h2>

			<div class="control-group{% if form.errors.firstname %} error{% endif%}">
				{{form.firstname(class="form-control", placeholder="Firstname")}}
				{% for error in form.errors.firstname %}
					<span class="help-inline">[{{error}}]</span>
				{% endfor %}
			</div>

			<div class="control-group{% if form.errors.lastname %} error{% endif%}">
				{{form.lastname(class="form-control", placeholder="Lastname")}}
				{% for error in form.errors.lastname %}
					<span class="help-inline">[{{error}}]</span>
				{% endfor %}
			</div>

			<div class="control-group{% if form.errors.email %} error{% endif%}">
				{{form.email(class="form-control", placeholder="Email")}}
				{% for error in form.errors.email %}
					<span class="help-inline">[{{error}}]</span>
				{% endfor %}
			</div>

			<div class="control-group{% if form.errors.password %} error{% endif%}">
				{{form.password(class="form-control", placeholder="Password")}}
				{% for error in form.errors.password %}
					<span class="help-inline">[{{error}}]</span>
				{% endfor %}
			</div>

			<div class="control-group{% if form.errors.confirm_password %} error{% endif%}">
				{{form.confirm_password(class="form-control", placeholder="Confirm password")}}
				{% for error in form.errors.confirm_password %}
					<span class="help-inline">[{{error}}]</span>
				{% endfor %}
			</div>
			
			<input class="btn btn-primary" type="submit" value="Register">

		</form>
	</div>
</body>

{% endblock %}
